Homework2.csproj.nuget.dgspec.json
Homework2.csproj.nuget.g.props
Homework2.csproj.nuget.g.targets
Homework2.deps.json
Homework2.dll
Homework2.exe
Homework2.pdb
Homework2.runtimeconfig.json
project.assets.json
project.nuget.cache
Homework2.csproj
First lesson.csproj
First lesson.deps.json
First lesson.dll
First lesson.pdb
First lesson.runtimeconfig.json
First lesson.csproj.nuget.g.props
First lesson.csproj.nuget.dgspec.json
First lesson.csproj.nuget.g.targets
project.assets.json
project.nuget.cache
First lesson.csproj